/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .faq-card {
  height: 100%;
  padding: 40px;
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  border-radius: 8px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  text-align: center;
}

.faq .faq-card i {
  font-size: 48px;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: block;
}

.faq .faq-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.faq .faq-card p {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.faq .faq-card .btn-primary {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--contrast-color);
}

.faq .faq-card .btn-primary:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  border-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.faq .faq-list {
  padding: 0;
}

.faq .faq-list .faq-item {
  position: relative;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #577a8e;
  border-radius: 8px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  cursor: pointer;
  margin: 20px 100px 20px 100px !important;
}

.faq .faq-list .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-list .faq-item h3 {
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  padding-right: 40px;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}

.faq .faq-list .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-list .faq-item .faq-content p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
}

.faq .faq-list .faq-item .faq-toggle {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 24px;
  color: var(--accent-color);
  transition: transform 0.2s ease;
}

.faq .faq-list .faq-item.faq-active h3 {
  color: var(--accent-color);
}

.faq .faq-list .faq-item.faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 15px;
}

.faq .faq-list .faq-item.faq-active .faq-toggle {
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .faq .faq-list .faq-item {
    padding: 20px;
    margin: 20px 0px 20px 0px !important;
  }

  .faq .faq-list .faq-item h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .faq .faq-list .faq-item .faq-toggle {
    right: 20px;
    top: 20px;
    font-size: 20px;
  }
}

.faq .core-values {
  margin-top: 30px;
}

.faq .core-values h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color:var(--accent-color);
  position: relative;
  padding: 2rem;
  
}


.faq .core-values  h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, #ff6600, transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

.faq .core-values  h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #ff704d;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 


}